@import "tailwindcss";

@theme {
  --font-heading: var(--font-outfit), sans-serif;
  --font-sans: var(--font-inter), sans-serif;
}

:root {
  --background: #020617;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}